/* image 1 */


position: absolute;
width: 2312px;
height: 1138px;
left: -1px;
top: 0px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Rectangle 6 */


position: absolute;
width: 2311px;
height: 25px;
left: 0px;
top: 334px;

background: rgba(225, 175, 76, 0.78);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 5 */


position: absolute;
width: 2310px;
height: 276px;
left: 1px;
top: 71px;

background: #E6E4E0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 2 */


position: absolute;
width: 2311px;
height: 264px;
left: 0px;
top: 0px;

background: #E6E4E0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 1 */


position: absolute;
width: 2310px;
height: 84px;
left: 1px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 0px 60px;


/* CONSELHO CULTURAL */


position: absolute;
width: 330px;
height: 44px;
left: 57px;
top: 9px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;

color: #000000;



/* (00) 0000 - 0000 */


position: absolute;
width: 242px;
height: 44px;
left: 1755px;
top: 24px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 37px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* PREFEITURA DE */


position: absolute;
width: 126px;
height: 44px;
left: 192px;
top: 149px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #000000;



/* BRUSQUE */


position: absolute;
width: 188px;
height: 44px;
left: 190px;
top: 165px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 55px;

color: #000000;



/* BRUSQUE - SC */


position: absolute;
width: 126px;
height: 26px;
left: 57px;
top: 45px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 26px;

color: #000000;



/* Capturar-removebg-preview 1 */


position: absolute;
width: 111px;
height: 151px;
left: 50px;
top: 104px;

background: url(Capturar-removebg-preview);


/* Rectangle 4 */


position: absolute;
width: 6px;
height: 132px;
left: 174px;
top: 113px;

background: rgba(30, 30, 30, 0.33);
border-radius: 100px;


/* AGENDA CULTURAL */


position: absolute;
width: 167px;
height: 26px;
left: 2093px;
top: 193px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 26px;

color: #000000;



/* PONTOS CULTURAIS DA CIDADE */


position: absolute;
width: 175px;
height: 52px;
left: 1863px;
top: 193px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 26px;
text-align: center;

color: #000000;



/* SERVIÇOS CULTURAIS */


position: absolute;
width: 185px;
height: 26px;
left: 1610px;
top: 192px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 26px;
text-align: center;

color: #000000;



/* PROJETOS CULTURAIS APROVADOS */


position: absolute;
width: 190px;
height: 52px;
left: 1368px;
top: 192px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 26px;
text-align: center;

color: #000000;



/* ADICIONE SEU PROJETO CULTURAL */


position: absolute;
width: 173px;
height: 52px;
left: 1136px;
top: 189px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 26px;
text-align: center;

color: #000000;



/* NOVOS PROJETOS */


position: absolute;
width: 256px;
height: 41px;
left: 1129px;
top: 284px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #000000;



/* SOBRE */


position: absolute;
width: 92px;
height: 41px;
left: 820px;
top: 284px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #000000;



/* AJUDA */


position: absolute;
width: 95px;
height: 41px;
left: 973px;
top: 284px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #000000;



/* Rectangle 13 */


box-sizing: border-box;

position: absolute;
width: 527px;
height: 55px;
left: 1569px;
top: 456px;

border: 3px solid #000000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 100px;


/* *Projetos escolhidos como destaques por meio de votação popular */


position: absolute;
width: 669px;
height: 30px;
left: 1495px;
top: 529px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
text-align: center;

color: #000000;



/* EDITAIS */


position: absolute;
width: 104px;
height: 41px;
left: 1446px;
top: 284px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #000000;



/* NOTÍCIAS */


position: absolute;
width: 135px;
height: 41px;
left: 1611px;
top: 284px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #000000;



/* image 3 */


position: absolute;
width: 65px;
height: 65px;
left: 1680px;
top: 14px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* image 5 */


position: absolute;
width: 62px;
height: 62px;
left: 2146px;
top: 119px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* image 6 */


position: absolute;
width: 62px;
height: 62px;
left: 1916px;
top: 119px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* image 7 */


position: absolute;
width: 82px;
height: 48px;
left: 1671px;
top: 141px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* image 8 */


position: absolute;
width: 33px;
height: 33px;
left: 1703px;
top: 108px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* image 10 */


position: absolute;
width: 75px;
height: 75px;
left: 1426px;
top: 111px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* image 11 */


position: absolute;
width: 49px;
height: 49px;
left: 2062px;
top: 17px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* image 12 */


position: absolute;
width: 49px;
height: 49px;
left: 2129px;
top: 17px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Rectangle 15 */


position: absolute;
width: 433px;
height: 320px;
left: 1388px;
top: 615px;

background: rgba(0, 0, 0, 0.92);
border-radius: 0px 50px;


/* Rectangle 16 */


position: absolute;
width: 439px;
height: 320px;
left: 1848px;
top: 627px;

background: rgba(0, 0, 0, 0.92);
border-radius: 0px 50px;


/* image 13 */


position: absolute;
width: 49px;
height: 49px;
left: 2195px;
top: 17px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* image 14 */


position: absolute;
width: 72px;
height: 72px;
left: 1186px;
top: 112px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Rectangle 7 */


position: absolute;
width: 433px;
height: 320px;
left: 1380px;
top: 602px;

background: url(image.png);
border-radius: 0px 50px;


/* Rectangle 8 */


position: absolute;
width: 439px;
height: 320px;
left: 1838px;
top: 615px;

background: url(image);
border-radius: 0px 50px;


/* Rectangle 10 */


position: absolute;
width: 59px;
height: 16px;
left: 1734px;
top: 977px;

background: #1E1E1E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;


/* Rectangle 11 */


position: absolute;
width: 60px;
height: 16px;
left: 1809px;
top: 977px;

background: rgba(230, 228, 224, 0.73);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;


/* Rectangle 12 */


position: absolute;
width: 57px;
height: 16px;
left: calc(50% - 57px/2 + 758px);
top: 977px;

background: #9EC0AA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;


/* JOVENS E A IMPORTÂNCIA DA SAÚDE EMOCIONAL NA FASE IDOSA */


position: absolute;
width: 212px;
height: 258px;
left: 1396px;
top: 615px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;

color: #FFFFFF;

border: 1px solid #FFFFFF;


/* TEATRO INCLUSIVO: PEÇAS PARA TODOS */


position: absolute;
width: 195px;
height: 134px;
left: 1865px;
top: 626px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 34px;

color: #FFFFFF;

border: 1px solid #FFFFFF;


/* Rectangle 25 */


position: absolute;
width: 1265px;
height: 699px;
left: 14px;
top: 381px;

background: #212121;
border-radius: 50px;


/* CADASTRE-SE */


position: absolute;
width: 223px;
height: 48px;
left: 96px;
top: 409px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 48px;
text-align: center;

color: #FFFFFF;

border: 1px solid #000000;


/* NOME COMPLETO */


position: absolute;
width: 166px;
height: 28px;
left: 90px;
top: 469px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #FFFFFF;



/* Rectangle 26 */


position: absolute;
width: 1147px;
height: 52px;
left: 81px;
top: 513px;

background: #FFFFFF;
border-radius: 100px;


/* EMAIL */


position: absolute;
width: 56px;
height: 28px;
left: 91px;
top: 692px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #FFFFFF;



/* Rectangle 27 */


position: absolute;
width: 1147px;
height: 52px;
left: 78px;
top: 734px;

background: #FFFFFF;
border-radius: 100px;


/* TELEFONE | CELULAR */


position: absolute;
width: 185px;
height: 28px;
left: 689px;
top: 580px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #FFFFFF;



/* Rectangle 29 */


position: absolute;
width: 550px;
height: 52px;
left: 675px;
top: 617px;

background: #FFFFFF;
border-radius: 100px;


/* SENHA */


position: absolute;
width: 61px;
height: 28px;
left: 91px;
top: 800px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #FFFFFF;



/* Rectangle 28 */


position: absolute;
width: 550px;
height: 52px;
left: 78px;
top: 841px;

background: #FFFFFF;
border-radius: 100px;


/* Rectangle 33 */


position: absolute;
width: 550px;
height: 83px;
left: 371px;
top: 954px;

background: #D82323;
border-radius: 100px;


/* Rectangle 34 */


position: absolute;
width: 294px;
height: 58px;
left: 941px;
top: 413px;

background: #4EAD47;
border-radius: 100px;


/* CONFIRME SUA SENHA */


position: absolute;
width: 206px;
height: 28px;
left: 695px;
top: 796px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #FFFFFF;



/* CRIAR CONTA */


position: absolute;
width: 168px;
height: 36px;
left: 567px;
top: 977px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

border: 0.5px solid #FFFFFF;


/* ENTRAR */


position: absolute;
width: 95px;
height: 36px;
left: 1041px;
top: 423px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

border: 0.5px solid #FFFFFF;


/* Rectangle 32 */


position: absolute;
width: 550px;
height: 52px;
left: 677px;
top: 838px;

background: #FFFFFF;
border-radius: 100px;


/* (00) 0000 - 0000 */


position: absolute;
width: 261px;
height: 41px;
left: 699px;
top: 620px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: rgba(33, 33, 33, 0.44);



/* DATA DE NASCIMENTO */


position: absolute;
width: 208px;
height: 28px;
left: 91px;
top: 579px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #FFFFFF;



/* Rectangle 30 */


position: absolute;
width: 550px;
height: 52px;
left: 78px;
top: 620px;

background: #FFFFFF;
border-radius: 100px;


/* 00/00/0000 */


position: absolute;
width: 184px;
height: 41px;
left: 103px;
top: 626px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: rgba(33, 33, 33, 0.44);



/* PROJETOS EM DESTAQUE */


position: absolute;
width: 399px;
height: 48px;
left: 1633px;
top: 459px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 48px;
text-align: center;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Rectangle 24 */


position: absolute;
width: 2311px;
height: 102px;
left: 0px;
top: 2341px;

background: #CDCCC9;


/* Rectangle 14 */


position: absolute;
width: 2310px;
height: 486px;
left: 0px;
top: 1135px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px;


/* image 19 */


position: absolute;
width: 2311px;
height: 730px;
left: 0px;
top: 1614px;

background: url(image.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* FUNDAÇÃO CULTURAL DE BRUSQUE */


position: absolute;
width: 485px;
height: 41px;
left: 46px;
top: 1188px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #000000;



/* ENTRE EM CONTATO CONOSCO */


position: absolute;
width: 435px;
height: 41px;
left: 50px;
top: 1662px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;

color: #000000;



/* NOME */


position: absolute;
width: 59px;
height: 28px;
left: 63px;
top: 1716px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #000000;



/* image 18 */


position: absolute;
width: 581px;
height: 407px;
left: 1589px;
top: 1193px;

background: rgba(0, 0, 0, 0.88);
border-radius: 0px 100px;


/* image 17 */


position: absolute;
width: 581px;
height: 407px;
left: 1572px;
top: 1178px;

background: url(image);
border-radius: 0px 100px;


/* Rectangle 18 */


position: absolute;
width: 434px;
height: 52px;
left: 46px;
top: 1749px;

background: #FFFFFF;
border-radius: 100px;


/* E-MAIL */


position: absolute;
width: 67px;
height: 28px;
left: 59px;
top: 1808px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #000000;



/* Rectangle 19 */


position: absolute;
width: 434px;
height: 52px;
left: 46px;
top: 1841px;

background: #FFFFFF;
border-radius: 100px;


/* TELEFONE */


position: absolute;
width: 88px;
height: 28px;
left: 59px;
top: 1900px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #000000;



/* Rectangle 20 */


position: absolute;
width: 434px;
height: 52px;
left: 46px;
top: 1933px;

background: #FFFFFF;
border-radius: 100px;


/* ASSUNTO */


position: absolute;
width: 89px;
height: 28px;
left: 59px;
top: 1990px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #000000;



/* Rectangle 21 */


position: absolute;
width: 434px;
height: 52px;
left: 46px;
top: 2023px;

background: #FFFFFF;
border-radius: 100px;


/* MENSAGEM */


position: absolute;
width: 108px;
height: 28px;
left: 59px;
top: 2080px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #000000;



/* Rectangle 22 */


position: absolute;
width: 434px;
height: 156px;
left: 46px;
top: 2113px;

background: #FFFFFF;
border-radius: 100px;


/* Rectangle 23 */


position: absolute;
width: 102px;
height: 35px;
left: 212px;
top: 2286px;

background: #FFFFFF;
border-radius: 100px;


/* ENVIAR */


position: absolute;
width: 69px;
height: 28px;
left: 229px;
top: 2289px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #000000;



/* CRIADO POR BRUNA FLORIANI, JARDEL S. DE LIZ, LUIZ F. BERTOLINI E RAFAEL A. DA SILVA */


position: absolute;
width: 809px;
height: 28px;
left: 784px;
top: 2378px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #000000;



/* A Fundação Cultural de Brusque (FCB), pessoa jurídica de direito público, foi criada oficialmente em 18 de Janeiro de 2002 pela Lei Municipal nº 2580/2002. Seu compromisso é Incentivar, difundir e promover a prática e o desenvolvimento da atividade cultural e artística no Município de Brusque, além de conservar, administrar e zelar pelo patrimônio cultural e artístico do Município de Brusque, dentre outras atividades elencadas na Lei Lei Municipal nº 2580/2002, a qual cria a Fundação Cultural de Brusque. Sendo assim, a Fundação Cultural de Brusque busca ser uma instituição reconhecida no âmbito Estadual pela sua excelência no estímulo à produção bem como a difusão cultural, e a valorização da memória, tendo autonomia para realizar suas ações de modo a democratizar o acesso à cultura no Município de Brusque. */


position: absolute;
width: 1399px;
height: 324px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 36px;

color: #000000;

